[target.aarch64-unknown-linux-musl]
pre-build = ["gcc -v"]

[target.aarch64-unknown-linux-gnu]
pre-build = ["gcc -v"]

[target.arm-unknown-linux-gnueabihf]
pre-build = ["gcc -v"]

[target.arm-unknown-linux-musleabihf]
pre-build = ["gcc -v"]

[target.i686-unknown-linux-gnu]
pre-build = ["gcc -v"]

[target.i686-unknown-linux-musl]
pre-build = ["gcc -v"]

[target.x86_64-unknown-linux-gnu]
pre-build = ["gcc -v"]

[target.x86_64-unknown-linux-musl]
pre-build = ["gcc -v"]
